@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-2;
}

.bg-primary{
    background: rgb(62, 9, 185);
}

.bg-secondary{
    background: rgb(52, 49, 136);
}
.mobile-nav{
    @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4;
}

.mobile-nav li {
    @apply h-full w-full text-center border-b-2;
}

.oswald- uniquifier {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .project-desc{
    @apply absolute left-0 right-0 bottom-[0px] top-0 bg-secondary opacity-0 duration-500 hover:opacity-100;
  }

  .button {
   @apply bg-primary px-11 py-2 font-bold hover:border-2 border-white rounded;
  }

  html{
    scroll-behavior: smooth;
  }